:root {
  --ecru-white: #fbfbf3;
  --minsk: #5e5892;
  --blue-bell: #8e98c9;
  --danube: #589cc8;
  --wewak: #f6b1b2;
  --whiskey: #ce9c6b;
  --brown-rust: #ac6442;
  --blue-haze: #cad1e1;
  --maize: #f5d5a0;
}

.App {
  text-align: center;
  background-color: var(--ecru-white);
}
